{{!-- <a href="/">Go Back</a>

<h1>Login</h1>

<!-- Don't forget the "name" attribute - this is used to set a property on the req.body object -->
<form action="/auth/login" method="POST">
  <input name="email" type="text" placeholder="Enter your email">
  <input name="password" type="password" placeholder="Enter your password">
  <button>Submit</button>
</form> --}}


    <div class=".container">
        <div class="form">
            <h1 class="text">Realtor App</h1>
            <div class="form-container">
                <input #email type="email" name="email" placeholder="Enter your email">
                <br />
                <input #password type="password" name="password" placeholder="Enter your password">
                <br />
                <button type="button" role="button" (click)="login($event,email, password)">login</button>
                <form class="form-c" style="margin-top: 10px;">
                    <button type="submit"> Register Now</button>
                </form>
            </div>
        </div>
    </div>