{{!-- <a href="/">Go Back</a>

<h1>Login</h1>

<!-- Don't forget the "name" attribute - this is used to set a property on the req.body object -->

  <input name="email" type="text" placeholder="Enter your email">
  <input name="password" type="password" placeholder="Enter your password">
  <button>Submit</button>
</form> --}}


<main class="container mt-5">
    <h1 class="mb-4">Login</h1>
    <form class="login-form"<br action="/auth/login" method="POST">>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-login" placeholder="Username" />
        </div>
        <br>
        
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-login" placeholder="Password" />
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>

</main>