<a href="/">Go Back</a>

<h1>Register</h1>

<!-- Don't forget the "name" attribute - this is used to set a property on the req.body object -->
<form action="/user/register" method="POST">
  <input name="user_name" type="text" placeholder="Enter your user name">
  <input name="password" type="password" placeholder="Enter your password">
  <button>Submit</button>
</form>