<div class=".container">
    <div class="form">
        <h1 class="text">Realtor App</h1>
        <div class="form-container">
            <form action="/user/login" method="POST">
                <input  type="text" name="user_name" placeholder="Enter your user name">
                <br />
                <input type="password" name="password" placeholder="Enter your password">
                <br />
                <button >Login</button>
                <a href="/register"><button> Register</button></a>
            </form>
        </div>
    </div>
</div>

<div class="main">
    <div class="d1"></div>
    <div class="d2"></div>
    <div class="d3"></div>
    <div class="d4"></div>
</div>