<div > 


  <header>
    <a href="user/logout">
      <button type="submit" class="btn btn-warning">Logout</button>
    </a>

    <h1>Dashboard</h1>
  </header>


  <main class="container   justify-content-center ">

    <div class=" row aling-items_center ">

      <p class=" col ">Welcome {{user_name}}</p>

      <dir class=" col ">
        <a href="/posting" class="">
          <button type="submit" class="btn btn-primary btn-sm">Create a New House Post</button>
        </a>
      </dir>

      <br>

      <a class=" col  " href="/houseListings">
        <button type="submit" class="btn btn-primary btn-sm">
          View Listings
        </button>
      </a>

      <div>
        <div class=" col  ">
          {{!-- <h1>favorites</h1> --}}

          <a href="/favorites" Class="">
            <button type="submit" class="btn btn-primary ">View Favorites</button>
          </a>
        </div>



  </main>


 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




</div>