<a href="user/logout">Logout</a>

<h1>Dashboard</h1>
<a href="/posting" class="btn btn-primary"><button type="submit" class="btn btn-primary">Create a New House Post</button></a>

<br>
<a href="/houseListings"> View Listings</a>


<h1>favorites</h1>
<a href="/favorites" Class="btn btn-primary"> <button type="submit" class="btn btn-primary">view favorites</button></a>
<p>{{user_name}}</p>