<div>


  <header>
    <a href="user/logout">
      <button type="submit" class="btn btn-warning">Logout</button>
    </a>

    <h1>Dashboard</h1>
  </header>


  <main id="mmenu_screen" class="container  justify-content-center aling-items-center">

    <div class=" row aling-items_center ">

      <p class=" col ">Welcome {{user_name}}</p>

      <dir class=" col ">
        <a href="/posting" class="">
          <button type="submit" class="btn btn-primary btn-sm">Create a New House Post</button>
        </a>
      </dir>

      <br>

      <a class=" col  " href="/houseListings">
        <button type="submit" class="btn btn-primary btn-sm">
          View Listings
        </button>
      </a>

      <div>
        <div class=" col  ">
          {{!-- <h1>favorites</h1> --}}

          <a href="/favorites" Class="">
            <button type="submit" class="btn btn-primary ">View Favorites</button>
          </a>
        </div>



  </main>

</div>