<nav class="navbar bg-dark ">
    
    <a class=" " href="/">
        <button type="submit" class="btn  btn-sm btn-warning">Go back to dashboard</button>
    </a>
    
</nav>


<div style="
    background-image : url('https://media.istockphoto.com/id/1026205392/es/foto/exterior-casa-hermosa-de-lujo-en-el-crep%C3%BAsculo.jpg?s=612x612&w=0&k=20&c=2weHZmlYGLEeR-fepd3vtKk1zVpB6bfLkedtqzBi2jM=');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

  ">
    <div class="container bg-transparent text-center ">

        <h2 class="text-center bg-transparent text-white">Create a post</h2>

        <form class="was-validated bg-transparent" action="/posting" method="POST">
            <!-- Background image -->
            <div class="mb-3 text-dark bg-transparent text-center">
                <h4 class=" bg-transparent text-white " for="validationTextarea">Location</h4>
                <input class="form-control is-invalid" id="validationTextarea" name="location"
                    placeholder="House Location" required>
                <div class="invalid-feedback bg-transparent">
                    <span class="bg-dark">  Please enter the houses location.</span>
                </div>
            </div>

            <div class="mb-3 text-dark bg-transparent ">
                <h4 class="fw-bold bg-transparent text-white " for="validationTextarea">Price</h4>
                <input class="form-control is-invalid" id="validationTextarea" type="number" step="0.01" name="price"
                    placeholder="House Price" required>
                <div class="invalid-feedback bg-transparent">
                   <span class="bg-dark">   Please enter the houses price.</span>
                </div>
            </div>

            <div class="mb-3 text-dark bg-transparent ">
                <h4 class="fw-bold bg-transparent text-white " for="validationTextarea">Description</h4>
                <input class="form-control is-invalid" id="validationTextarea" name="type"
                    placeholder="House Description" required>
                <div class="invalid-feedback bg-transparent">
                   <span class="bg-dark">Please describe the house.</span>
                </div>
            </div>

            <button class="btn btn-primary">Submit</button>
    </div>
    </form>