    <nav class="navbar bg-dark">
    <a href="/">Go back to dashboard</a>
    </nav>
    <div style="
    background-image : url('https://media.istockphoto.com/id/1026205392/es/foto/exterior-casa-hermosa-de-lujo-en-el-crep%C3%BAsculo.jpg?s=612x612&w=0&k=20&c=2weHZmlYGLEeR-fepd3vtKk1zVpB6bfLkedtqzBi2jM=');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  ">

<h2 class="text-center">Create a post</h2>


    <!-- Background image -->
     <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white bg-transparent">
        <div class="mb-3 text-white bg-transparent ">
            <h4 class="bg-transparent bd-highlight" for="validationTextarea">Location</h4>
            <input class="form-control is-invalid" id="validationTextarea" name="location" placeholder="Required example textarea"
                required>
            <div class="invalid-feedback bg-transparent">
                Please enter the houses location.
            </div>
        </div>

        <div class="mb-3 text-white bg-transparent ">
            <h4 class=" bg-transparent bd-highlight" for="validationTextarea">Price</h4>
            <input class="form-control is-invalid" id="validationTextarea" name="price" placeholder="Required example textarea"
                required>
            <div class="invalid-feedback m-0 p-0 ">
               <span class=" bg-dark bg-gradient "> Please enter the houses price. </span>
            </div>
        </div>

        <div class="mb-3 text-white bg-transparent bd-highlight">
            <h4 class=" bg-transparent bd-highlight"  for="validationTextarea">Description</h4>
            <input class="form-control is-invalid" id="validationTextarea" name="type" placeholder="Required example textarea"
                required>
            <div class="invalid-feedback bg-transparent">
                Please describe the house.
            </div>
        </div> 
        <button class="btn bg-primary border-dark">Submit</button>

    </div>
