<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Realtor APP</title>
</head>
<body>
 <div class=".container">
        <div class="form">
            <h1 class="text">Realtor App</h1>
            <div class="form-container">
                <input #email type="email" name="email" placeholder="Enter your email">
                <br />
                <input #password type="password" name="password" placeholder="Enter your password">
                <br />
                <button type="button" role="button" (click)="login($event,email, password)">login</button>
                <form class="form-c" style="margin-top: 10px;">
                    <button type="submit"> Register Now</button>
                </form>
            </div>
        </div>
    </div>


    <div class="main">
        <div class="d1"></div>
        <div class="d2"></div>
        <div class="d3"></div>
        <div class="d4"></div>

  
    <div class=".container">
        <div class="form">
            <h1 class="text">Realtor App</h1>
            <div class="form-container">
                <input #email type="email" name="email" placeholder="Enter your email">
                <br />
                <input #password type="password" name="password" placeholder="Enter your password">
                <br />
                <button type="button" role="button" (click)="login($event,email, password)">login</button>
                <form class="form-c" style="margin-top: 10px;">
                    <button type="submit"> Register Now</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>