

<form action="/auth/login" method="POST">
  <input name="email" type="email" placeholder="Enter your email">
  <input name="password" type="password" placeholder="Enter your password">
  <button>Submit</button>
</form>

<a href="/register">Register</a>