<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./assets/style.css">
    <title>Realtor APP</title>
</head>
<body>
    <div class="form-container">
      <input #email type="email" name="email" placeholder="Enter your email">
      <br />

  <input #password type="password" name="password"placeholder="Enter your password">
 
  <br />
   <button type="button" role="button"
   (click)="login($event,email, password)">login</button>
    
 <form>
        <button type="sumbit"> Register Now</button>
     </form>
    </div>
</body>
</html>